@font-face {
  font-family: 'opensans_regular';
  src: url('../fonts/opensans-regular.eot');
  src: url('../fonts/opensans-regular.eot') format('embedded-opentype'),
  url('../fonts/opensans-regular.woff') format('woff'),
  url('../fonts/opensans-regular.ttf') format('truetype'),
  url('../fonts/opensans-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'opensans_bold';
  src: url('../fonts/opensans-bold.eot');
  src: url('../fonts/opensans-bold.eot') format('embedded-opentype'),
  url('../fonts/opensans-bold.woff') format('woff'),
  url('../fonts/opensans-bold.ttf') format('truetype'),
  url('../fonts/opensans-bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'opensans_semibold';
  src: url('../fonts/opensans-semibold.eot');
  src: url('../fonts/opensans-semibold.eot') format('embedded-opentype'),
  url('../fonts/opensans-semibold.woff') format('woff'),
  url('../fonts/opensans-semibold.ttf') format('truetype'),
  url('../fonts/opensans-semibold.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'satellite';
  src: url('../fonts/satellite.eot');
  src: url('../fonts/satellite.eot') format('embedded-opentype'),
  url('../fonts/satellite.woff') format('woff'),
  url('../fonts/satellite.ttf') format('truetype'),
  url('../fonts/satellite.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@open_reg: 'open_regular', arial;
@open_bold: 'open_bold', arial;
@open_semibold: 'opensans_semibold', arial;
@satellite: 'satellite', arial;

@gray: #4d4d4d;

.main-navbar{
  @normal_size: 15px;
  position: inherit;
  margin: 5px 0 5px 0;
  font-family: @open_reg;
  text-align: right;

    img {
      position: absolute;
      top: @normal_size;
      left: @normal_size;

      @media (max-width: 640px) {
        position: inherit;
        left: 5%;
        top: 20px;
      }
    }

    ul {
      display: inline-flex;
      padding-top: 5px;
      list-style: none;
      @media (max-width: 640px) {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: @open_semibold;
      }
    }

    li {
      padding-left: @normal_size;
      font-size: 18px;
      @media (max-width: 640px) {
        border: 1px solid black;
        border-radius: 30px;
        text-transform: uppercase;
        margin-bottom: 1mm ;
        padding:10px 0 10px 0;
        font-size: 24px;
        li:last-child{
          margin-bottom: 0px;
        }
      }
      @media (min-width: 641px) and (max-width: 1024px){
        font-size: 16px;
      }
      &:hover {
        text-decoration: underline;
        text-decoration-style: solid;
        @media (max-width: 640px) {
          @border-col: #8dd01e;
          border-color: @border-col;
          background: @border-col;
          color: #f5f5f5;
          text-decoration: none;
        }
      }
    }
    a {
      color:black;
      text-decoration: none;
    }
}


.main-section {
  background-image: url(../images/billboard_img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  position: inherit;
  background-size: auto;
  font-family: @satellite;
  text-align: center;
  height: 450px;

    h1{
      position: relative;
      font-size: 48px;
      top: 30%;
    }

    h2{
      position: relative;
      top: 30%;
      font-size: 20px;
    }

    span{
      position: relative;
      background: #333;
      top: 140px;
      border-radius: 30px;
      font-family: @open_bold;
      font-size: 24px;
      padding: 10px 50px 10px 50px;
      color: aliceblue;
      text-transform: uppercase;

        &:hover {
          color: black;
          background-color: white;
        }
    }
}

.second-section {
  margin: 50px 0 50px 0;
  position: inherit;
  top: 100%;
  text-align: center;
  font-family: @open_reg;
    ul{
      list-style: none;
      display: flex;
      justify-content: space-around;

      @media (max-width: 640px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      li{
        margin: 20px 20px 20px 20px;
      }

      h3 {
        font-family: @open_bold;
        font-weight: bold;
        font-size: 22px;
        color: @gray;
        text-transform: uppercase;
      }

      p {
        font-family: @open_reg;
        color: #777;
        font-size: 14px;
        line-height: 22px;
      }

    }
}

.video {
  position: inherit;
  font-family: @open_bold;
  color: @gray;
  text-align: center;

    h2 {
      text-align: center;
      text-transform: uppercase;
    }

    img {
      align-content: center;
      width: 70%;
    }
}

.recent_work {
  margin-top: 100px;
  text-align: center;
  position: inherit;
  font-family: @open_reg;

    ul {
      list-style: none;
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
    li { }
    img{
      margin: 10px 10px 10px 10px;
      &:hover {

      }
    }
}

.join_us {
  margin-top: 100px;
  height: 300px;
  position: inherit;
  background-color: #f5f5f5;
  font-family: @open_reg;
  text-align: center;

  h2 {
    padding-top: 25px;
    text-transform: uppercase;
  }

  span {
    position: relative;
    top: 100px;
    border-radius: 30px;
    font-size: 24px;
    padding: 10px 50px 10px 50px;
    border: 2px solid black;
    text-transform: uppercase;

    &:hover {
      border-color: @gray;
      background: @gray;
      color: #f5f5f5;
    }

    @media (max-width: 800px) {
      font-size: 20px;
      padding: 10px 30px 10px 30px;
      border-radius: 20px;
      border: 1px solid black;

    }
  }
}

.buttons {
  position: inherit;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  @media (max-width: 640px) {
    justify-content: space-around;
  }
  .button_element { }
}

.main-footer {
  @light_gray: #b5b5b5;
  position: inherit;
  margin-top: 100px;
  overflow: hidden;
  background-color: #3b3b3b;
  color: aliceblue;

  .footer-element {
    width: 260px;
    height: auto;
    font-family: @open_reg;
    display: inline-block;
    float: left;
    margin-left: 40px;
    ul {
      list-style: none;
      color: @light_gray;
    }
    a {
      color: @light_gray;
    }
  }
}



