@font-face {
  font-family: 'opensans_regular';
  src: url('../fonts/opensans-regular.eot');
  src: url('../fonts/opensans-regular.eot') format('embedded-opentype'), url('../fonts/opensans-regular.woff') format('woff'), url('../fonts/opensans-regular.ttf') format('truetype'), url('../fonts/opensans-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans_bold';
  src: url('../fonts/opensans-bold.eot');
  src: url('../fonts/opensans-bold.eot') format('embedded-opentype'), url('../fonts/opensans-bold.woff') format('woff'), url('../fonts/opensans-bold.ttf') format('truetype'), url('../fonts/opensans-bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans_semibold';
  src: url('../fonts/opensans-semibold.eot');
  src: url('../fonts/opensans-semibold.eot') format('embedded-opentype'), url('../fonts/opensans-semibold.woff') format('woff'), url('../fonts/opensans-semibold.ttf') format('truetype'), url('../fonts/opensans-semibold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'satellite';
  src: url('../fonts/satellite.eot');
  src: url('../fonts/satellite.eot') format('embedded-opentype'), url('../fonts/satellite.woff') format('woff'), url('../fonts/satellite.ttf') format('truetype'), url('../fonts/satellite.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.main-navbar {
  position: inherit;
  margin: 5px 0 5px 0;
  font-family: 'open_regular', arial;
  text-align: right;
}
.main-navbar img {
  position: absolute;
  top: 15px;
  left: 15px;
}
@media (max-width: 640px) {
  .main-navbar img {
    position: inherit;
    left: 5%;
    top: 20px;
  }
}
.main-navbar ul {
  display: inline-flex;
  padding-top: 5px;
  list-style: none;
}
@media (max-width: 640px) {
  .main-navbar ul {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'opensans_semibold', arial;
  }
}
.main-navbar li {
  padding-left: 15px;
  font-size: 18px;
}
@media (max-width: 640px) {
  .main-navbar li {
    border: 1px solid black;
    border-radius: 30px;
    text-transform: uppercase;
    margin-bottom: 1mm ;
    padding: 10px 0 10px 0;
    font-size: 24px;
  }
  .main-navbar li li:last-child {
    margin-bottom: 0px;
  }
}
@media (min-width: 641px) and (max-width: 1024px) {
  .main-navbar li {
    font-size: 16px;
  }
}
.main-navbar li:hover {
  text-decoration: underline;
  text-decoration-style: solid;
}
@media (max-width: 640px) {
  .main-navbar li:hover {
    border-color: #8dd01e;
    background: #8dd01e;
    color: #f5f5f5;
    text-decoration: none;
  }
}
.main-navbar a {
  color: black;
  text-decoration: none;
}
.main-section {
  background-image: url(../images/billboard_img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  position: inherit;
  background-size: auto;
  font-family: 'satellite', arial;
  text-align: center;
  height: 450px;
}
.main-section h1 {
  position: relative;
  font-size: 48px;
  top: 30%;
}
.main-section h2 {
  position: relative;
  top: 30%;
  font-size: 20px;
}
.main-section span {
  position: relative;
  background: #333;
  top: 140px;
  border-radius: 30px;
  font-family: 'open_bold', arial;
  font-size: 24px;
  padding: 10px 50px 10px 50px;
  color: aliceblue;
  text-transform: uppercase;
}
.main-section span:hover {
  color: black;
  background-color: white;
}
.second-section {
  margin: 50px 0 50px 0;
  position: inherit;
  top: 100%;
  text-align: center;
  font-family: 'open_regular', arial;
}
.second-section ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 640px) {
  .second-section ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.second-section ul li {
  margin: 20px 20px 20px 20px;
}
.second-section ul h3 {
  font-family: 'open_bold', arial;
  font-weight: bold;
  font-size: 22px;
  color: #4d4d4d;
  text-transform: uppercase;
}
.second-section ul p {
  font-family: 'open_regular', arial;
  color: #777;
  font-size: 14px;
  line-height: 22px;
}
.video {
  position: inherit;
  font-family: 'open_bold', arial;
  color: #4d4d4d;
  text-align: center;
}
.video h2 {
  text-align: center;
  text-transform: uppercase;
}
.video img {
  align-content: center;
  width: 70%;
}
.recent_work {
  margin-top: 100px;
  text-align: center;
  position: inherit;
  font-family: 'open_regular', arial;
}
.recent_work ul {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.recent_work img {
  margin: 10px 10px 10px 10px;
}
.join_us {
  margin-top: 100px;
  height: 300px;
  position: inherit;
  background-color: #f5f5f5;
  font-family: 'open_regular', arial;
  text-align: center;
}
.join_us h2 {
  padding-top: 25px;
  text-transform: uppercase;
}
.join_us span {
  position: relative;
  top: 100px;
  border-radius: 30px;
  font-size: 24px;
  padding: 10px 50px 10px 50px;
  border: 2px solid black;
  text-transform: uppercase;
}
.join_us span:hover {
  border-color: #4d4d4d;
  background: #4d4d4d;
  color: #f5f5f5;
}
@media (max-width: 800px) {
  .join_us span {
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    border: 1px solid black;
  }
}
.buttons {
  position: inherit;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 640px) {
  .buttons {
    justify-content: space-around;
  }
}
.main-footer {
  position: inherit;
  margin-top: 100px;
  overflow: hidden;
  background-color: #3b3b3b;
  color: aliceblue;
}
.main-footer .footer-element {
  width: 260px;
  height: auto;
  font-family: 'open_regular', arial;
  display: inline-block;
  float: left;
  margin-left: 40px;
}
.main-footer .footer-element ul {
  list-style: none;
  color: #b5b5b5;
}
.main-footer .footer-element a {
  color: #b5b5b5;
}
